*.iml
.gradle
/local.properties
/.idea/
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
/*.jpg
/*.png
/app/src/main/ic_launcher-playstore.png
/app/src/main/res/drawable-*/
/app/src/main/res/mipmap-*/
/app/src/main/res/values/ic_launcher_background.xml
local.properties
